body {
    display: grid;
    font: Arial, Verdana, Helvetica, sans-serif;
    margin: 0.5;
    margin-left: 15px;
}

h1 {
   text-align: center;
}

p {
   font-size: 1.2em;
   text-align: justify;
   text-indent: 1em;
}

li {
   font-size: 1.2em;
}

span {
   font-size: 1.2em;
   text-align: justify;
   margin-bottom: 1.5em;
}

.button {
    font-size: 1.3em;
    margin: 10px;
    background-color: gainsboro;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}

input {
    font-size: 1.3em;
    width: 110px;
    margin: 5px
}

section {
    margin-bottom: 20px;
}

select {
    background-color: rgb(224, 226, 238);
    font-size: 1.3rem;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
    padding: 10px;
    margin-left: 100px;
}

a {
    text-decoration: none;
}

footer {
    margin-top: 100px;
}