body {
   display: grid;
   font: Arial, Verdana, Helvetica, sans-serif;
   margin: 0.5;
   margin-left: 15px;
}

h1 {
    text-align: center;
}

p {
   font-size: 1.2em;
   text-align: justify;
   text-indent: 1em;
}

li {
   font-size: 1.2em;
}

span {
   font-size: 1.2em;
   text-align: justify;
   margin-bottom: 1.5em;
}

.button {
    font-size: 1.3em;
    margin: 10px;
    background-color: gainsboro;
}

input {
    width: 110px;
    margin: 5px
}

section {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

footer {
    margin-top: 100px;
}